# Dependencies
/node_modules
/frontend/node_modules
/backend/node_modules

# Build output
/dist
/frontend/dist

# Docker
.dockerignore

# Environment variables
.env
.env.*

# IDE specific
.idea/
.vscode/

# OS specific
.DS_Store
Thumbs.db 